<h1>ข้อมูลอาจารย์ผู้สอน</h1>

<p id="notice"><%= notice %></p>

<div class="table-responsive">
<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th class="change">รหัสอาจารย์ผู้สอน</th>
      <th class="change">ชื่ออาจารย์ผู้สอน</th>
      <th class="change">รหัสวิชา</th>
      <th class="change">ชื่อวิชา</th>
      <th class="change">ตอนเรียน</th>

    </tr>
  </thead>

  <tbody>
    <% @teaches.each do |teach| %>
      <tr>
        <td class="change"><%= teach.user.teacher.teacherid %></td>
        <td class="change"><%= link_to teach.user.name, user_path(teach.user) %></td>
        <td class="change"><%= teach.sec.subject.subject_ID %></td>
        <td class="change"><%= teach.sec.subject.subject_Name %></td>
        <td class="change"><%= teach.sec.sec %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<td><%= link_to 'ย้อนกลับ', secs_path, class: "btn btn-primary active" %></td>
